@charset "utf-8";
/* CSS Document */
#header-nav {
	background-color: #999;
	border-radius: 0;
	border:2px solid black;
	color: #000;
}
.navbar {background-color: #999;
	border-radius: 0;
	border:2px solid black;
	color: #000;}

.navbar-brand h1 {
	font-family: sans-serif;
	color: #000;
	margin-top: 0;
	margin-bottom: 40px;
	border: 2px;
}

section.container-fluid{
	border: 2px solid black;
	height: 1000px;
	background-color: #999;
}
#nav-list {
	background-color: yellow;
}